@charset "UTF-8";
$none: none;
//下划线
$underline: text-decoration;

//color
$colorMain: #00c8ff;
$color-6c: #6c6c6c;
$color-c4: #c4c4c4;
$color-ff643c: #ff643c;//橘色
$color-00647f: #00647f;
$color-white: #fff;
$color-e2: #e2e2e2;
//字体大小
$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size20: 20px;

//字体加粗
$font-weight: bold;

//高度
$height28: 28px;

//行高
$line-height20: 20px;
$line-height36: 36px;
$line-height28: 28px;
$line-height34: 34px;
$line-height44: 44px;