@charset "UTF-8";
@import "public";
@import "variable";
@import "mixin";
@import "style";

#top{@extend #top;}


#header{   
    height: 108px;
    h1{float: left;}
    img{float: right;}
}

#userInfo{
    position: relative;
    height: 785px;
    background: url(http://images.zhiwo.com/product/2015/0724/2569699673708683028.jpg) no-repeat -300px;
    .box-login{
        background: $color-white;
        position: absolute;
        left: 60%;
        top: 15%;
        @include size(406,529);
        @include padding(0,40,40,40);
        .top{
            overflow: hidden;
            @include margin(32,0,32,0);
            span{
                float: left;
                font-size: $font-size20;
                font-weight: $font-weight;
            }
            a{
                float: right;
                color: $colorMain;
                font-size: $font-size16;
            }  
        }
        .center-login{
            @include border(1,dashed,$color-e2,bottom);
            .username-login,.password-login,.code-login{height: 70px;}
            input{
                font-size: $font-size14;
                @include padding(0,0,0,10);
                color: $color-c4;
                @include size(324,38);
                @include border(1,solid,$color-c4,all);                
            }
            p{line-height: 26px;color: #f40;display: none;}
            .code-login{
                overflow: hidden;
                input{
                    float: left;
                    @include size(175,38);
                }              
                span{
                    float:right;
                    color: $colorMain;
                    font-size: $font-size14;
                    @include margin(6,0,6,10);
                    cursor: pointer;
                }
                div{
                    float:right;
                    @include size(73,18);
                    text-align: center;
                    line-height: 18px;
                    color: #3e2e15;
                    background: #ebeced;
                    @include margin(7,0,7,0);
                    @include border(1,solid,#7697c7,all);
                }             
            }
            .autologin{
                overflow: hidden;
                color: $color-6c;
                @include margin(-20,0,20,0);
                input{
                    float: left;
                    width: auto;
                    height: auto;
                }
                span{float: left;}
                a{float: right;}
            }
            .sub-login{
                background: $colorMain;
                color: $color-white;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                border: $none;
                @include margin(0,0,20,0);
            }
        }
        .bottom{
            p{line-height: 42px;}
            ul{
                @include margin(20,0,0,0);
                overflow: hidden;
                li{
                    height: 30px;
                    float: left;
                    @include padding(0,0,0,30);
                    @include margin(0,20,20,0);
                    cursor: pointer;
                }
            }
        }
    }
}

#friendlink{@extend #friendlink;}
#promise{@extend #promise;}
#footer{@extend #footer;}